<!--
    好有钱App
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced tabs-light">

    <!-- 首页 Tab -->
    <ion-tab title="首页"
             icon-off="ion-ios-pulse"
             icon-on="ion-ios-pulse-strong"
             ui-sref="hyq.feed.index">
        <ion-nav-view name="tab-feed"></ion-nav-view>
    </ion-tab>

    <!-- 应用 Tab -->
    <ion-tab title="应用"
             icon-off="ion-ios-chatboxes-outline"
             icon-on="ion-ios-chatboxes"
             ui-sref="hyq.application.index">
        <ion-nav-view name="tab-application"></ion-nav-view>
    </ion-tab>

    <!-- 朋友 Tab -->
    <ion-tab title="朋友"
             icon-off="ion-ios-gear-outline"
             icon-on="ion-ios-gear"
             ui-sref="hyq.friend.index">
        <ion-nav-view name="tab-friend"></ion-nav-view>
    </ion-tab>

    <!-- 我的 Tab -->
    <ion-tab title="我的"
             icon-off="ion-social-github-outline"
             icon-on="ion-social-github"
             ui-sref="hyq.user.index">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>

</ion-tabs>
