<!--
    好有钱App
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- 首页 Tab -->
    <ion-tab title="首页" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/hyq/feed">
        <ion-nav-view name="tab-feed"></ion-nav-view>
    </ion-tab>

    <!-- 应用 Tab -->
    <ion-tab title="应用" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/hyq/application">
        <ion-nav-view name="tab-application"></ion-nav-view>
    </ion-tab>

    <!-- 朋友 Tab -->
    <ion-tab title="朋友" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/hyq/friend">
        <ion-nav-view name="tab-friend"></ion-nav-view>
    </ion-tab>

    <!-- 我的 Tab -->
    <ion-tab title="我的" icon-off="ion-social-github-outline" icon-on="ion-social-github" href="#/hyq/user">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>

</ion-tabs>
