<ion-view view-title="我的" class="stable-bg">
    <ion-content>
        <ion-list>

            <ion-item class="item-avatar item-icon-right "
                      type="item-text-wrap">
                <img src="https://avatars3.githubusercontent.com/u/11214?v=3&s=460"/>
                <h2>Mr.Dreamer</h2>
                <p>18810987821</p>
                <!--<span class="item-note">
                    已实名认证
                </span>-->
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-right">
                <div class="row">
                    <div class="col col-50">
                        <p>昨日收益(元)</p>
                        <h2>9.99</h2>
                    </div>
                    <div class="col col-50">
                        <p>可用余额(元)</p>
                        <h2>100,000.00</h2>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <!-- 第一节 -->
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-social-twitter balanced"></i>
                <h2>现金宝</h2>
                <span class="badge">100.00</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-social-googleplus"></i>
                <h2>我的放贷</h2>
                <span class="badge">+<span>9,900.00</span></span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-social-apple"></i>
                <h2>我的借款</h2>
                <span class="badge">-<span>10.00</span></span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-aperture"></i>
                <h2>充值</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <!-- 第二节 -->
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ios-email"></i>
                <h2>我的红包</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <!-- 第三节 -->
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-paper-airplane"></i>
                <h2>我的通知</h2>
                <span class="badge badge-assertive">99</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ribbon-b"></i>
                <h2>我的信用值</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-social-yen"></i>
                <h2>我的银行卡</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="hyq.user.transaction">
                <i class="icon ion-ios-paw"></i>
                <h2>我的交易记录</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <!-- 第四节 -->
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="hyq.user.setting.index">
                <i class="icon ion-gear-b"></i>
                <h2>设置</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <div class="padding"></div>

        </ion-list>
    </ion-content>
</ion-view>