<ion-view view-title="修改支付密码">
    <ion-content>
        <ion-list>

            <div class="padding"></div>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">原密码</span>
                    <input type="password" placeholder="请输入原支付密码">
                </label>
                <label class="item item-input">
                    <span class="input-label">新密码</span>
                    <input type="password" placeholder="请输入新的支付密码">
                </label>
            </div>

            <div class="padding">
                <button class="button button-block button-royal">
                    确定
                </button>
            </div>

        </ion-list>
    </ion-content>
</ion-view>