<ion-view view-title="应用">
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar">
                <img src="https://avatars3.githubusercontent.com/u/11214?v=3&s=460" />
                <div class="row">
                    <!--<div class="col col-25">-->

                    <!--</div>-->
                    <div class="col">
                        <p>wwww</p>
                    </div>
                </div>
            </ion-item>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>